<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todolist组件拆分</title>
    <script src="js/vue.js"></script>
</head>

<body>

    <div id="app">
        <input type="text" v-model="inputvalue" />
        <button @click='handSubmit'>提交</button>
        <ul>
            <todo-item v-for='(item,index) of list' :key='index' :content='item'>
            </todo-item>
        </ul>
    </div>

    <script>
        // 创建组件 全局 无需申明
        // Vue.component('todo-item',{
        //     props:['content'], //定义传递过来的参数值
        //     template:'<li>{{content}}</li>'
        // })

        // 局部组件，需要申明
        var TodoItem = {
            props: ['content'],
            template: '<li @click="haneldSubmit">{{content}}</li>',
            methods: {
                haneldSubmit: function () {
                    alert(this.content);
                }
            }
        }

        new Vue({
            el: '#app',
            // 针对局部组件 进行申明
            components: {
                'todo-item': TodoItem
            },
            // template:'', 默认，如果没有定义的话，则自动默认为 #app下的元素为该模板
            data() {
                return {
                    inputvalue: '',
                    list: []
                }
            },
            methods: {
                handSubmit: function () {
                    this.list.push(this.inputvalue);
                    this.inputvalue = '';
                }
            },
        })
    </script>

</body>

</html>