/*新推广页面公共*/

@charset "utf-8";
html,
body {
	font-family: "微软雅黑";
}

 ::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar {
	height: 6px;
}

::-webkit-scrollbar-track {
	background-color: #F1F1F1;
}

::-webkit-scrollbar-thumb {
	background-color: #BCBCBC;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #AAAAAB;
}

::-webkit-scrollbar-thumb:active {
	background-color: #8D8D8E
}


/*公共内容区头部*/

.crm_head {
	padding: 30px 20px 0 25px;
	background: #fff;
}

.extension_tit {
	font-size: 22px;
	font-weight: 500;
	color: #000;
}

.change_test_btn {
	margin-left: 10px;
	width: 58px;
	font-size: 12px;
	line-height: 22px;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	border-radius: 4px;
	color: rgba(72, 165, 255, 1);
	border: 1px solid rgba(72, 165, 255, 1);
	margin-right: 40px;
}

.crm_head_top {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: 20px;
}


/*下拉菜单*/

.curse_list {
	position: relative;
	cursor: pointer;
}

.curse_list_ul {
	display: none;
	position: absolute;
	background: #fff;
	top: 26px !important;
	max-height: 245px !important;

	border: 1px solid #d1d2d3;
	left: 0px !important;
	z-index: 9;
}

.curse_list_ul li {
	color: #000;
	display: block;
	text-align: left;
	overflow: hidden;
	padding: 0 !important;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.curse_list_ul li:hover {
	background: #f4f6fa;
}

.curse_list_ul li:hover a {
	color: #48A5FF;
}

.curse_list_ul li a {
	padding-left: 10px;
	padding-right: 10px;
	color: #444;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.titlisticon {
	margin-left: 5px;
	font-size: 16px;
}

.titlist_wrap_tit {
	height: 25px;
	line-height: 25px;
	color: #444;
	padding-left: 10px;
	border: 1px solid transparent;
	padding-right: 10px;
	font-size: 12px;
}

.addtitlistborder {
	border-color: #d1d2d3;
}

.curse_list_ul .add_aaction {
	background: #f4f6fa;
	color: #48A5FF;
}

.crm_head_bottom {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: 24px;
}

.day_change {
	font-size: 0;
	margin-right: 20px;
}

.day_change a {
	display: inline-block;
	font-size: 12px;
	color: #333333;
	height: 26px;
	line-height: 26px;
	box-sizing: border-box;
	padding: 0 10px;
	border: 1px solid #D9D9D9;
	border-left: none;
}

.day_change a:first-child {
	border-left: 1px solid #D9D9D9;
	border-radius: 4px 0px 0px 4px;
}

.day_change a:last-child {
	border-radius: 0px 4px 4px 0px;
}

.day_change .day_change_action {
	background: #48a5ff;
	color: #fff;
	border-color: #48a5ff;
}

.time_choice {
	height: 26px;
	width: 200px;
	position: relative;
	line-height: 26px;
	box-sizing: border-box;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	font-size: 12px;
}
.time_choice::before{
	content: "\f107";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	position: absolute;
	right: 0;
	top: 0;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: #333;
	width: 26px;
	text-align: center;
	border-left: 1px solid #d9d9d9;
}
.time_choice.kicon_up::before{
	content:"\f106";
	border-left:1px solid rgba(72,165,255,1);
	color: #fff;
	background: rgba(72,165,255,1);

}

.time_choice span {
	font-size: 12px;
	color: #333333;
	padding-left: 10px;
}

.arrow_timechoice {
	position: absolute;
	right: 0;
	top: 0;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	color: #333;
	width: 26px;
	text-align: center;
	border-left: 1px solid #d9d9d9;
}

.contrast_time {
	display: inline-block;
	vertical-align: top;
	line-height: 26px;
	color: #212121;
	margin: 0 10px;
}

.contrast_time .check_box {
	width: 16px;
	height: 16px;
	line-height: 16px;
	border: 1px solid #999999;
	border-radius: 2px;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	margin-top: 5px;
	margin-right: 5px;
}

.check_box b {
	color: transparent;
	font-size: 14px;
}

.contrast_time_action .check_box {
	background: #48A5FF;
	border-color: #48A5FF;
}

.contrast_time_action .check_box b {
	color: #fff;
}


/*内容区*/

.extension_content {
	border-left: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;
	background: #fff;
}

.extension_wrap {
	background: #ececec;
	padding: 10px 10px 10px 10px;
}

.extension_tab {
	font-size: 0;
	background: #F8F8F8;
	border-top: 1px solid #DFDFDF;
	position: relative;
}

.extension_tab:after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: #DFDFDF;
	left: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
}

.extension_tab li {
	display: inline-block;
	vertical-align: top;
}

.extension_tab li a {
	display: block;
	height: 44px;
	line-height: 44px;
	padding: 0 20px;
	position: relative;
	margin-top: -1px;
	z-index: 2;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.65);
	border-right: 1px solid #DFDFDF;
	box-sizing: border-box;
}

.extension_tab li .extension_tab_action {
	background: #fff;
}

.extension_tab li .extension_tab_action:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: #48A5FF;
	position: absolute;
	left: 0;
	top: 0;
}

.extension_list_info {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	background: #fff;
	border-bottom: 1px solid #dfdfdf;
}

.extension_list_info li {
	flex: 1;
	padding: 28px 0;
	position: relative;
	padding-left: 20px;
}
.extension_list_info li:last-child .line_extension_list{
	display: none;
}
.extension_list_info li p:first-child {
	font-size: 12px;
	color: #666666;
	margin-bottom: 5px;
}

.ques_icon {
	color: #A8D5FF;
	margin-left: 5px;
	font-size: 13px;
	cursor: pointer;
}

.extension_list_info li p:nth-child(2) {
	font-size: 24px;
	color: #333333;
}

.line_extension_list {
	position: absolute;
	width: 1px;
	background: #dfdfdf;
	right: 0;
	top: 30px;
	bottom: 30px;
}

.echart_wrap {
	padding: 20px 30px 20px 20px;
	position: relative;
	cursor: pointer;
	border-bottom: 1px solid rgba(240, 240, 240, 1);
}

.zuce_echarts:hover {
	border-color: #48A5FF;
}

.zuce_echarts {
	position: relative;
	border: 1px solid #D9D9D9;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	border-radius: 4px;
	align-items: center;
	line-height: 24px;
	margin-right: 20px;
}

.zuce_echarts span:first-child {
	font-size: 12px;
	color: #D9D9D9;
}

.zuce_echarts span:nth-child(2) {
	font-size: 12px;
	color: #3e3e3e;
	display: inline-block;
	margin-right: 50px;
}

.zuce_echarts>.zuce_echarts_arrow {
	height: 24px;
	position: absolute;
	right: 0;
	line-height: 24px;
	font-size: 16px;
	color: #d9d9d9;
	top: 0;
	width: 24px;
	text-align: center;
	border-left: 1px solid #D9D9D9;
}
.zhibiao_echarts_wrap{
	display: flex;
	align-items: center;
}
.echarts_test_pie{
	width: 400px;
	height: 340px;
	margin: 20px 0;
}
.echarts_test_line {
	flex: 1;
	height: 340px;
	margin: 20px 0;
}

.yuanquan {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: top;
	background: red;
	margin-right: 5px;
}
.big_circle{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: top;
	background: red;
	margin-right: 5px;
}

.tooltip_p {
	line-height: 28px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #d9d9d9;
	padding: 0 10px;
	background:#F1F1F1;
}

.tooltip_p_sub {
	line-height: 28px;
	display: flex;
	align-items: center;
	padding: 0 10px;
	justify-content: space-between;
}

.tooltip_p_sub1 {
	line-height: 28px;
	display: flex;
	align-items: center;
	padding: 0 10px;
	width:100%;
}

.zhibiao_wrap {
	padding: 30px 20px 20px 20px;
	position: relative;
}

.zhibiao_btn {
	width: 120px;
	height: 36px;
	font-size: 14px;
	color: rgba(72, 165, 255, 1);
	text-align: center;
	display: inline-block;
	vertical-align: top;
	line-height: 36px;
	background: rgba(255, 255, 255, 1);
	border-radius: 4px;
	border: 1px solid rgba(72, 165, 255, 1);
}

.zhibiao_btn_action {
	background: #48a5ff;
	color: #fff;
}

.zhibiao_wrap .checkbox_list {
	top: 63px;
	left: 20px;
}

.checkbox_list_p_blue {
	color: #48A5FF;
	margin-left: 25px;
}

.qudao_drop {
	display: inline-block;
	vertical-align: top;
}

.qudao_drop .exten_page_l_num {
	width: 140px;
}

.qudao_drop .exten_page_l_num .curse_list_ul {
	top: 25px !important;
	bottom: auto !important;
	overflow-x: hidden;
}

.qudao_drop .exten_page_l_num .curse_list_ul li {
	width: 137px;
}


/*下拉选择*/

.checkbox_list {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 5;
	transform: translateY(5px);
	padding: 15px 20px 35px 20px;
	background: #fff;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.checkbox_list .checkbox_list_p {
	font-size: 12px;
	color: #B3B3B3;
	margin-bottom: 20px;
}

.checkbox_list_ul {
	white-space: nowrap;
}

.checkbox_list_ul>li {
	display: inline-block;
	vertical-align: top;
	margin-right: 35px;
	line-height: 26px;
}

.checkbox_list_ul>li>label {
	color: #333;
	font-size: 12px;
}

.checkbox_list_ul>li>label:hover {
	color: #1890ff;
}

.checkbox_list_ul>li>label input {
	display: none;
}

.checkbox_list_ul>li>label i {
	color: #D9D9D9;
	font-size: 16px;
	vertical-align: top;
	margin-top: 4px;
}

.checkbox_list_ul>li>label .action_extension {
	color: #1890ff;
}

.zuce_echarts>.zuce_echarts_iaction {
	background: #48a5ff;
	color: #fff;
}

.zuce_echarts_iaction>i {
	transform: rotate(180deg);
}

.checkbox_list_ul>li>input {
	display: none;
}


/*表格*/

.extensionTableHead {
	background: #f8f8f8;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.extensionTableHead li {
	height: 40px;
	line-height: 40px;
	flex: 1;
	text-align: center;
	position: relative;

}
.sort_type:hover{
	color: #1890ff;
	cursor: pointer;
}
.extensionTableHead li>b {
	width: 1px;
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	height: 20px;
	transform: translateY(-50%);
	background: #dcdcdc;
}

.extensionTableHead li:last-child>b {
	display: none;
}

.extensionTableHead li:first-child {
	flex: 2;
	padding-left: 55px;
	text-align: left;
	border-right: 1px solid #dfdfdf;
}
.extensionTableHead li:not(:first-child){
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.sort_normal {
	width: 8px;
	height: 10px;
	display: inline-block;
	vertical-align: initial;
	margin-left: 8px;
	background: url(./../images/sort_normal.png) no-repeat;
}
.sort_down i{
	background: url(./../images/sort_down.png) no-repeat;
}
.sort_up i{
	background: url(./../images/sort_up.png) no-repeat;
}
/*三级列表*/

.three_treelist_main {
	border-bottom: 1px solid #dfdfdf;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.three_treelist_main .three_treelist_titwrap>span {
	margin-left: 16px;
}

.three_treelist_main:hover>li>.three_treelist_titwrap>i {
	color: #48A5FF;
}

.three_treelist_main li {
	height: 40px;
	line-height: 40px;
	flex: 1;
	text-align: center;
	position: relative;
}

.three_treelist_main li:first-child {
	flex: 2;
	padding-left: 55px;
	text-align: left;
	border-right: 1px solid #dfdfdf;
}


/*一级目录*/

.three_treelist {
	font-size: 12px;
	color: #212121;
}

.three_treelist li {
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/*二级目录*/

.three_treelist .three_treelist_pack {
	display: none;
}

.three_treelist>li>.three_treelist_pack>li>.three_treelist_tit>.three_treelist_main>li>.three_treelist_titwrap {
	padding-left: 20px;
	/*border-left: 1px solid #dfdfdf;*/
}

.three_treelist>li>.three_treelist_pack>li:first-child>.three_treelist_tit>.three_treelist_main>li>.three_treelist_titwrap:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-bottom-color: #f8f8f8;
	left: 88px;
	top: -13px;
	z-index: 5;
}

.three_treelist>li>.three_treelist_pack>li:first-child>.three_treelist_tit>.three_treelist_main>li>.three_treelist_titwrap:before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-bottom-color: #dfdfdf;
	left: 88px;
	top: -15px;
	z-index: 4;
}

.three_treelist>li>.three_treelist_pack>li>.three_treelist_tit {
	background: #f8f8f8;
}


/*三级目录*/

.three_treelist>li>.three_treelist_pack>li>.three_treelist_pack>li>.three_treelist_tit {
	background: #f4f9ff;
}

.three_treelist>li>.three_treelist_pack>li>.three_treelist_pack>li>.three_treelist_tit>.three_treelist_main>li>.three_treelist_titwrap {
	padding-left: 40px;
	/*border-left: 1px solid #dfdfdf;*/
}

.three_treelist_main>li>.three_treelist_titwrap>i {
	font-size: 17px;
	color: #b7b7b7;
	vertical-align: top;
	display: inline-block;
	margin-top: -1px;
}

.three_treelist_titwrap{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 0;
}
.three_treelist_titwrap1{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 0;
	margin-left:16px;
}

	/*分页*/

.exten_page {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.exten_page_l_num {
	display: inline-block;
	vertical-align: top;
	width: 80px;
}

.exten_page_l_num .titlisticon {
	position: absolute;
	right: 0;
	top: 1px;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	border-left: 1px solid #d9d9d9;
}

.exten_page_l>span:first-child {
	display: inline-block;
	vertical-align: top;
	line-height: 26px;
}

.exten_page_r {
	font-size: 0;
}

.exten_page_r a {
	display: inline-block;
	vertical-align: top;
	width: 24px;
	height: 24px;
	text-align: center;
	font-size: 12px;
	border: 1px solid #d9d9d9;
	line-height: 24px;
	border-radius: 4px;
	margin: 0 3px;
	color: rgba(0, 0, 0, 0.65);
}

.exten_page_r a:hover {
	background: #48a5ff;
	color: #fff;
	border-color: #48a5ff;
}

.exten_page_r .page_ellipsis:hover {
	background: #fff;
	color: rgba(0, 0, 0, 0.65);
	border: 1px solid #d9d9d9;
	cursor: default;
}

.exten_page_l_num .titlist_wrap_tit {
	border: 1px solid #D9D9D9;
	line-height: 24px;
	height: 24px;
	border-radius: 4px;
}

.exten_page_l_num .curse_list_ul {
	bottom: 25px;
	top: auto !important;
	overflow-x: hidden;
}

.exten_page_l_num .curse_list_ul li {
	width: 78px;
}

.exten_page_l_num .curse_list_ul li a {
	height: 28px;
	line-height: 28px;
}


/*切换考试弹框*/

.change_exam {
	display: none;
}

.change_exam_tit {
	line-height: 50px;
	position: relative;
	border-bottom: 1px solid #e8e8e8;
	padding: 0 26px;
}

.change_exam_tit span {
	font-size: 16px;
	color: #333;
}

.change_exam_tit>i {
	display: none !important;
	font-size: 16px;
	color: #c2c2c2;
	position: absolute;
	right: 20px;
	top: -1px;
	cursor: pointer;
}

.change_exam_list {
	padding: 30px 15px 0px 15px;
}

.change_exam_list li {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px 15px 15px;
}

.change_exam_list li a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	width: 100px;
	border-radius: 4px;
	text-align: center;
	line-height: 40px;
	color: #656565;
	height: 40px;
	box-sizing: border-box;
	border: 1px solid #D9D9D9;
}

.change_exam_list li a:hover {
	border-color: #48a5ff;
}

.change_exam_list .change_exam_btn_action>a {
	border-color: #48a5ff;
	color: #48A5FF;
	background: #E8F4FF;
}

.change_exam_btn {
	border-top: 1px solid #d9d9d9;
	display: flex;
	justify-content: flex-end;
	height: 50px;
	align-items: center;
	padding-right: 8px;
	background:#fff;
}

.change_exam_btn a {
	display: block;
	width: 65px;
	height: 24px;
	line-height: 24px;
	border-radius: 4px;
	border: 1px solid #d9d9d9;
	text-align: center;
	font-size: 14px;
	color: #6b6b6b;
	margin: 0 8px;
}

.change_exam_btn a:hover {
	opacity: 0.8;
}

.change_exam_btn .qd_exam_btn {
	color: #fff;
	background: #48a5ff;
	border-color: #48a5ff;
}
/*实时推广预览*/
.realtime_titlist li p:nth-child(2){
	margin-bottom: 10px;
	font-size: 18px;
}
.realtime_titlist li h4{
	font-size:12px;
	color: #212121;
	margin-bottom: 12px;
	font-weight: normal;
}
.extension_list_info_wrap{
	position: relative;
}
.realtime_titlist_bottom{
	display: none;
}
.realtime_titlist_bottom ul{
	background: #F8F8F8;
	border-bottom: 1px solid #DFDFDF;
}
.arow_down_open{
	position: absolute;
	left: 50%;
	top:100%;
	width: 38px;
	height: 18px;
	background: #f8f8f8;
	border: 1px solid #dfdfdf;
	text-align: center;
	line-height: 18px;
	margin-top: -1px;
	 color: #e4e4e4;
	 z-index: 2;
}
.arow_down_open:hover{
	background: #d8d8d8;
	color: #fff;
}
.arow_down_open i{
	display: inline-block;
	 transform:rotate(90deg);
}
.arow_down_close i{
	transform:rotate(-90deg);
}
.extension_list_real{
	padding-bottom: 30px;
}
/*趋势图列表*/
.realtime_list{
	margin-top: 15px;
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.realtime_list_l,.realtime_list_r{
	background: #fff;
	height: 400px;
	flex: 1;
	border: 1px solid #dfdfdf;
	box-sizing: border-box;
	padding:15px 40px 15px 25px;
}
.realtime_list_l{
	margin-right: 5px;
}
.realtime_list_r{
	margin-left: 5px;
}
.realtime_list_tit{
	font-size: 14px;
	color: #212121;
	margin-bottom: 15px;
}
.realtime_list_r_tab th{
	text-align: left;
	font-size: 12px;
	color: #999999;
	font-weight: normal;
	height: 28px;
}
.realtime_list_r_tab tr th:first-child{
	width: 70%;
}
.realtime_list_r_tab td{
	text-align: left;
	font-size: 12px;
	color: #000;
	font-weight: normal;
	height: 29px;
}
.realtime_list_l .day_change{
	display: inline-block;
	vertical-align: top;
	margin-right: 0;
}
.realtime_list_l .day_change a:last-child{
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}
.realtime_list_tool{
	font-size: 0;
}
.realtime_list_tool .qudao_drop .exten_page_l_num{
	width: 100px;
}
.realtime_list_tool .exten_page_l_num .titlist_wrap_tit{
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left: none;
}
.realtime_list_tool_r{
	float: right;
	font-size: 12px;
}
.realtime_list_tool_r .contrast_time{
	color: #999999;
	margin-right: 0;
}
.realtime_list_tool_r>span{
	display:inline-block;
	vertical-align: top;
	line-height: 26px;
}
.realtime_echart{
	height: 300px;
}
.echarts_time_dis{
	height: 320px;
}
.timeDistribution_btn{
	text-align: center;
}
/*一级表格，每栏四项*/
.table_onefour>li{
	border-bottom: 1px solid #dfdfdf;
}
.table_onefour>li>ul>li>ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.table_onefour>li>ul>li>ul>li{
	height: 40px;
    line-height: 40px;
    flex: 1;
    text-align: center;
    position: relative;
}
.table_onefour>li>ul>li>ul>li:first-child {
    flex: 2;
    padding-left: 55px;
    text-align: left;
    border-right: 1px solid #dfdfdf;
}

.exam-win{
	font-size:12px;
	max-height:250px;
	overflow:auto;
}
.exam-win li a{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

/*考试弹框*/
.change_exam_tit{
	top: 0;
	bottom: 0;
	height: 50px;
	background-color: rgba(255,255,255,1);
}
.change_exam_btn{
	background: rgba(255,255,255,1);
	bottom: 0px;
	float: right;
}
#change_exam .layui-layer-title {
	background-color: #FFffff !important;
}


/**
推广系统—新——layui时间插件样式
 */
/*layUI插件样式*/
/*取消*/
.layui-laydate-footer .laydate-btns-clear {
	width: 65px;
	height: 24px;
	background: rgba(255, 255, 255, 1);
	border-radius: 4px;
	border: 1px solid rgba(217, 217, 217, 1);
	font-size: 14px;
	font-family: PingFangSC-Regular;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.65);
	line-height: 22px;
	/*margin-right: 8px !important;*/
}

.laydate-footer-btns .laydate-btns-clear:hover {
	color: rgba(0, 0, 0, 0.65) !important;
}

/*确定按钮*/
.layui-laydate .laydate-btns-confirm {
	margin-left: 8px !important;
	font-size: 14px;
	font-family: PingFangSC-Regular;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	line-height: 22px;
	width: 65px;
	height: 24px;
	background: rgba(72, 165, 255, 1);
	border-radius: 4px;
	border: 0px;
}

.laydate-footer-btns .laydate-btns-confirm:hover {
	color: rgba(255, 255, 255, 1) !important;
}

.i-compare{
	margin-top: 4px !important;
}

/*页面 部分tips 样式*/

section .order_tit .order_tit_list>p:not(:first-of-type),.table_onefour ul li{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display:block;
}
dd dl.dl_content_wz_title{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.order_tit {
	display: flex;
}
.order_tit .order_tit_list{
	flex:1;
	overflow:hidden;
	margin-right:0px !important;
}

/* 多级统一表格样式 */
.table_level{
	position: relative;
	width:100%;
	overflow:auto;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
/* 表头样式 */
.table_level .thead{
	display:flex;
	box-sizing: border-box;
	z-index:100;
}
.table_level .thead>li{

	list-style: none;
	line-height: 80px;
	height: 80px;
	box-sizing: border-box;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #f8f8f8;
	text-align: center;
	min-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display:block;
}
.table_level .thead>li:not(:first-of-type){
	flex: 1;
}

.table_level .thead>li:first-of-type{
	border-right:1px solid #ccc;
	flex:5;
	width: 400px;
	background: #f8f8f8;
}


/* 表格样式 */
.table_level ul{
	margin:0;
	padding:0;
}

.table_level ul>div{
	display: flex;
	height:40px;
	box-sizing: border-box;
	position: relative;
}
.table_level ul>div>li{
	flex:1;
	list-style: none;
	line-height:40px;
	height:40px;
	box-sizing: border-box;
	border-bottom:1px solid #ccc;
	text-align:center;
	min-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.table_level ul>ul>div>li{
	background: #F8F8F8;
}
.table_level ul>ul>ul>div>li{
	background: #F4F9FF;
}
.table_level>ul>div>li:first-of-type{
	background: #fff;
}
.table_level ul>div>li:first-of-type{
	border-right:1px solid #ccc;
	flex:5;
	min-width: 400px;
	z-index:1;
	text-align: left;
	padding-left:20px;
}
.table_level>ul>ul>div>li:first-child::after{
	content: "";
	display: block;
	position: absolute;
	width: 8px;
	height: 8px;
	left: 88px;
	top: -5px;
	transform: rotate(45deg);
	z-index: 2;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc #F8F8F8 #F8F8F8 #ccc;
	border-image: initial;
	background: #F8F8F8;
}

.table_level .tbody{
	max-height:300px;
}
.table_level li>i{
	font-size: 17px;
	color: #b7b7b7;
	vertical-align: top;
	display: inline-block;
	margin-top: -1px;
}
.table_level ul>div>li:first-of-type>span{
	margin-left:20px;
}
.table_level ul>ul>div>li:first-of-type{
	padding-left:40px;
	overflow:visible !important;
}
.table_level ul>ul>ul>div>li:first-of-type{
	padding-left:60px;

}