<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>实习todolist的删除功能</title>
    <script src="js/vue.js"></script>
</head>
<body>

    <div id="app">
        <input v-model='inputvalue' type="text"/>
        <button @click='handleSubmit'>提交</button>  
         <ul>
            <to-list v-for='(item,index) of list'
                :key="index" :content='item'
                :index="index" @delete='handleDelete'>
            </to-list>
         </ul>   
       
    </div>
    
    <script>

        // 定义全局组件
        Vue.component('to-list',{
            props:['content',"index"],
            template:'<li @click="handSub">内容值：{{content}}，下标值：{{index}}</li>',
            methods: {
                handSub:function(){
                    // alert(this.content);
                    // $emit 绑定一个自定义事件event(delete事件)，当这个这个语句被执行到的时候，
                    // 就会将参数arg传递给父组件，父组件通过@event监听并接收参数。
                    this.$emit('delete',this.index);
                }
            },
        })

        new Vue({
            el:'#app',
            data() {
                return {
                    inputvalue:'',
                    list:[],
                }
            },
            methods:{
                handleSubmit:function(){
                    this.list.push(this.inputvalue);
                    this.inputvalue = '';
                },
                handleDelete:function(index){
                    // splice() 方法用于添加或删除数组中的元素。
                    // 注意：这种方法会改变原始数组。
                   this.list.splice(index,1);
                }
            }
        })
    </script>

</body>
</html>